<button id="saveTemps"><i class="bi bi-save"></i>&nbsp; Save a temperature</button>
<button id="saveAllTemps"><i class="bi bi-download"></i>&nbsp; Save all temperatures</button>

<a class="btn options" id="options" data-toggle="modal" data-target="#turningWettingModal"><i class="bi bi-gear"></i>&nbsp; Turning / Wetting options</a>