<div class="pagination"></div>

<div class="container card-container"></div>

<div class="info_footer">
    <a style="font-weight: bold; margin-right: 20px; color: rgb(114, 114, 114);">Cards color meaning: </a>
    <p style="color: #c92727;">Red = Very high temperature.</p>
    <p style="color: #2caccc;">Blue = Very low temperature</p>
    <p style="color: #1da13a;">Green = Accepted temperature</p>
</div>