<div class="container card-container"></div>
<input id="selectedPilon" type="hidden">

<div class="info_footer">
    <p style="font-weight: bold; margin-right: 20px; color: rgb(114, 114, 114);">Cards color meaning: </p>

    <p style="color: white; background: #e63434; padding: 2px; border-radius: 10px;"
        title="This card color means that pilón has a temperature that's superior to maximum accepted temperature.">
        &nbsp;Very high temperature&nbsp;
    </p>

    <p style="color: white; background: #27a6c5; padding: 2px; border-radius: 10px;"
        title="This card color means that pilón has a temperature that's inferior to minimun accepted temperature.">
        &nbsp;Very low temperature&nbsp;
    </p>
    <p style="color: white; background: #229b3c; padding: 2px; border-radius: 10px;"
        title="This card color means that pilón it's between the minimum and maximum accepted temperature.">
        &nbsp;Accepted temperature&nbsp;
    </p>
    <p style="color: black; background: #ebd52c; padding: 2px; border-radius: 10px;"
        title="This card color means that pilón temperature has not changed for some time.">
        &nbsp;Static temperature&nbsp;
    </p>
    <p style="color: #444444; background: #d6d6d6; padding: 2px; border-radius: 10px;"
        title="This card color means that you selected a pilón to save data or make a turning or wetting for the selected one.">
        &nbsp;Pilón selected&nbsp;
    </p>
</div>