<div class="container card-container"></div>
<input id="selectedPilon" type="hidden">

<div class="info_footer">
    <p style="font-weight: bold; margin-right: 20px; color: rgb(114, 114, 114);">Cards color meaning: </p>
    <p style="color: #e63434;">Very high temperature</p>
    <p style="color: #27a6c5;">Very low temperature</p>
    <p style="color: #229b3c;">Accepted temperature</p>
    <p style="color: #8d8d8d;">Pilón selected</p>
</div>