<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Humidity history</title>
    <%- include('../partials//cdn_head/_cdn_head') %>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js/dist/Chart.min.css">
        <script src="https://cdn.jsdelivr.net/npm/xlsx/dist/xlsx.full.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1"></script>
</head>

<body>
    <%- include('../partials/navbar/_navbar') %>

        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col text-center">
                    <div class="text-center">Pilon's list</div>
                    <div class="d-flex justify-content-center mb-3">
                        <select id="selectPilon" class="form-select" style="width: 65%;">
                            <!-- Options will be dynamically added here -->
                        </select>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="text-center">Start date</div>
                    <div class="d-flex justify-content-center mb-3">
                        <input type="date" id="fechaInicialSelector" class="form-control" style="width: 45%;">
                    </div>
                </div>
                <div class="col text-center">
                    <div class="text-center">Final date</div>
                    <div class="d-flex justify-content-center mb-3">
                        <input type="date" id="fechaFinalSelector" class="form-control" style="width: 45%;">
                    </div>
                </div>
                <div class="col text-center">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn dt-buttons btnImgen" onclick="exportToImage()">Export to
                            image</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 mt-5">
                    <canvas id="myChart" style="width: 100%; height: 650px;"></canvas>
                </div>
            </div>
        </div>

        <!-- SCRIPTS -->
        <script src="/resources/js/_graphics_scripts.js"></script>

</html>