<!-- SUCCESS MODAL -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background: linear-gradient(to right, #16562df0, #208041f0, #2ba154f0);">
                <h5 class="modal-title" style="color: #ffffff;" id="successModalLabel"><i class="bi bi-check-lg"></i>
                    Success</h5>
            </div>
            <div class="modal-body">
                Temperature and humidity have been stored correctly.
            </div>
            <div class="modal-footer">
                <a class="nav-link" style="background-color: #5f380071; padding: 5px; border-radius: 10px; color: white" href="/temp_history">&nbsp;Temp list&nbsp;</a>
                <a class="nav-link" style="background-color: #0046436c; padding: 5px; border-radius: 10px; color: white" href="/hum_history">&nbsp;Hum list&nbsp;</a>
                <p data-bs-dismiss="modal" style="background-color: #d34646d1; padding: 5px; border-radius: 10px; color: white;" onclick="selectedCard.classList.remove('card-clicked');">Close</p>
            </div>
        </div>
    </div>
</div>

<!--ERROR MODAL -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background: linear-gradient(to right, #7c0808f4, #a80c0ce3, #eb0303c0);">
                <h5 class="modal-title" style="color: #ffffff;" id="errorModalLabel"><i class="bi bi-emoji-frown"></i>
                    Error</h5>
            </div>
            <div class="modal-body">
                An error occurred while saving the temperature. Please make sure temperature and humidity values are valids.
            </div>
            <div class="modal-footer">
                <p data-bs-dismiss="modal" style="background-color: #d34646d1; padding: 5px; border-radius: 10px; color: white;" onclick="selectedCard.classList.remove('card-clicked');">Close</p>
            </div>
        </div>
    </div>
</div>