<!-- CREATION MODAL -->
<div class="modal fade" id="turningWettingModal" tabindex="-1" aria-labelledby="turningWettingModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 45%;">
        <div class="modal-content">
            <div class="modal-header" style="background: linear-gradient(to right, #68451bf0, #b6772af0, #f3a240f0);">
                <h5 class="modal-title" style="color: #ffffff;" id="turningWettingModal"><i class="bi bi-tools"></i>
                    Turning / Wetting Options</h5>
                <a>
                    <button type="button" class="nav-link px-2"
                        style="color: #0f0f0f; background-color: #ffffff97; padding: 4px; border-radius: 10px"
                        data-bs-toggle="modal" data-bs-target="#createWorkerModal"><i class="bi bi-patch-plus"></i> Add
                        new worker
                    </button>
                </a>
            </div>
            <div class="modal-body">
                <form id="turning_wetting_Form">
                    <div class="row mb-3">
                        <label for="task" class="col-sm-3 col-form-label form-label0">Pilón needs</label>
                        <div class="col-sm-9">
                            <select class="form-control" style="text-align: center;" id="task" name="task" required>
                                <option selected disabled readonly>Select an option</option>
                                <option value="Turning">Turning</option>
                                <option value="Wetting">Wetting</option>
                            </select><br>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="person_in_charge" class="col-sm-3 col-form-label form-label0">Person in
                            charge</label>
                        <div class="col-sm-9">
                            <select class="form-control" style="text-align: center;" id="person_in_charge"
                                name="person_in_charge" required>
                                <option selected disabled readonly>Select the person in charge</option>
                            </select><br>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="pilon_selected" class="col-sm-3 col-form-label form-label0">Selected pilón</label>
                        <div class="col-sm-9">
                            <input type="text" id="pilon_selected" name="pilon_selected" style="text-align: center;"
                                disabled class="form-control" required><br>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="task_start_date" class="col-sm-3 col-form-label form-label0">Task start date</label>
                        <div class="col-sm-3">
                            <input type="date" id="task_start_date" disabled name="task_start_date"
                                style="text-align: center;" class="form-control" required><br>
                        </div>

                        <label for="start_time" class="col-sm-3 col-form-label form-label0">Task start time</label>
                        <div class="col-sm-3">
                            <input type="time" id="start_time" name="start_time" style="text-align: center;"
                                class="form-control" required><br>
                        </div>

                        <label for="task_end_date" class="col-sm-3 col-form-label form-label0">Task end date</label>
                        <div class="col-sm-3">
                            <input type="date" id="task_end_date" name="task_end_date" style="text-align: center;"
                                class="form-control" required><br>
                        </div>

                        <label for="end_time" class="col-sm-3 col-form-label form-label0">Task end time</label>
                        <div class="col-sm-3">
                            <input type="time" id="end_time" name="end_time" style="text-align: center;"
                                class="form-control" required><br>
                        </div>

                        <label for="task_start_temp" class="col-sm-3 col-form-label form-label0 hidden-label">Before
                            task
                            temp</label>
                        <div class="col-sm-9 hidden-label">
                            <input type="text" id="task_start_temp" name="task_start_temp" style="text-align: center;"
                                disabled class="form-control" required><br>
                        </div>
                    </div>
                    <button id="saveTurningWettingButton" class="btn btn-success">Save new task</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- UPDATE MODAL -->
<div class="modal fade" id="editPilonTaskModal" tabindex="-1" aria-labelledby="editPilonTaskModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 45%;">
        <div class="modal-content">
            <div class="modal-header" style="background: linear-gradient(to right, #5f1155, #6e1462, #9e1c8d);">
                <h5 class="modal-title" style="color: #ffffff;" id="editPilonTaskModal"><i
                        class="bi bi-pencil-square just"></i> Update pilón task</h5>
            </div>
            <div class="modal-body">
                <form id="turning_wetting_Form">

                    <div class="row mb-3">
                        <label for="editTask" class="col-sm-3 col-form-label form-label0">Pilón needs</label>
                        <div class="col-sm-9">
                            <select disabled class="form-control" style="text-align: center;" id="editTask" name="editTask"
                                required>
                                <option selected disabled readonly>Select an option</option>
                                <option value="Turning">Turning</option>
                                <option value="Wetting">Wetting</option>
                            </select><br>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="EditPerson_in_charge" class="col-sm-3 col-form-label form-label0">Person in
                            charge</label>
                        <div class="col-sm-9">
                            <select class="form-control" style="text-align: center;" id="EditPerson_in_charge"
                                name="EditPerson_in_charge" required>
                            </select><br>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="EditPilon_selected" class="col-sm-3 col-form-label form-label0">Selected
                            pilón</label>
                        <div class="col-sm-9">
                            <input type="text" id="EditPilon_selected" name="EditPilon_selected"
                                style="text-align: center;" disabled class="form-control" required><br>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="EditTask_Start_Date" class="col-sm-3 col-form-label form-label0">Task start
                            date</label>
                        <div class="col-sm-3">
                            <input type="date" id="EditTask_Start_Date" disabled name="EditTask_Start_Date"
                                style="text-align: center;" class="form-control" required><br>
                        </div>

                        <label for="EditStart_time" class="col-sm-3 col-form-label form-label0">Task start time</label>
                        <div class="col-sm-3">
                            <input type="time" id="EditStart_time" name="EditStart_time" style="text-align: center;"
                                class="form-control" disabled required><br>
                        </div>

                        <label for="EditTask_End_Date" class="col-sm-3 col-form-label form-label0">Task end date</label>
                        <div class="col-sm-3">
                            <input type="date" id="EditTask_End_Date" name="EditTask_End_Date"
                                style="text-align: center;" class="form-control" required><br>
                        </div>

                        <label for="EditEnd_time" class="col-sm-3 col-form-label form-label0">Task end time</label>
                        <div class="col-sm-3">
                            <input type="time" id="EditEnd_time" name="EditEnd_time" style="text-align: center;"
                                class="form-control" required><br>
                        </div>

                        <label for="EditTask_start_temp" class="col-sm-3 col-form-label form-label0 hidden-label">Before
                            task
                            temp</label>
                        <div class="col-sm-9 hidden-label">
                            <input type="text" id="EditTask_start_temp" name="EditTask_start_temp"
                                style="text-align: center; background-color: #ff00003b;" disabled class="form-control"
                                required><br>
                        </div>

                        <label for="EditTask_end_temp" class="col-sm-3 col-form-label form-label0 hidden-label">After
                            task
                            temp</label>
                        <div class="col-sm-9 hidden-label">
                            <input type="text" id="EditTask_end_temp" name="EditTask_end_temp"
                                style="text-align: center; background-color: #0dff003b;" disabled class="form-control"
                                required><br>
                        </div>
                    </div>
                    <button id="updateTurningWettingButton"
                        style="background-color: #9e1c8d; border-radius: 10px; border: none;"
                        class="btn btn-success">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>