<!-- CREATION MODAL -->
<div class="modal fade" id="createPilonModal" tabindex="-1" aria-labelledby="createPilonModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="max-width: 800px;">
        <div class="modal-content">
            <div class="modal-header" style="background: linear-gradient(to right, #1a4467f0, #266293ce, #3a96e2c0);">
                <h5 class="modal-title" style="color: #ffffff;" id="createPilonModalLabel"><i
                        class="bi bi-box-arrow-down"></i> Add new pilón</h5>
            </div>
            <div class="modal-body">
                <form id="createPilonForm">
                    <div class="row mb-3">
                        <label for="editNombre" class="col-sm-3 col-form-label form-label0">Pilon's name</label>
                        <div class="col-sm-9">
                            <input type="text" id="nombre" name="nombre" class="form-control"
                                placeholder="Example: Pilon 01" required autofocus><br>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="editFinca" class="col-sm-3 col-form-label form-label0">Farm source</label>
                        <div class="col-sm-9">
                            <input type="text" id="finca" name="finca" class="form-control" placeholder="Example: FLM"
                                required><br>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="editVariedad" class="col-sm-3 col-form-label form-label0">Tobacco variety</label>
                        <div class="col-sm-9">
                            <input type="text" id="variedad" name="variedad" class="form-control"
                                placeholder="Example: Camacho" required><br>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="editEtapa" class="col-sm-3 col-form-label form-label0">Tobacco stage</label>
                        <div class="col-sm-9">
                            <input type="number" id="etapa" name="etapa" class="form-control" placeholder="Example: 1"
                                required><br>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="editPN" class="col-sm-3 col-form-label form-label0">Tobacco net weight</label>
                        <div class="col-sm-9">
                            <input type="number" id="pn" name="pn" class="form-control" placeholder="Example: 9800.00"
                                required step="0.01"><br>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="editTempMin" class="col-sm-3 col-form-label form-label0">Minimun accepted
                            temperature</label>
                        <div class="col-sm-9">
                            <input type="number" id="temp_min" name="temp_min" class="form-control"
                                placeholder="Example: 90" required><br>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="editTempMax" class="col-sm-3 col-form-label form-label0">Maximum accepted
                            temperature</label>
                        <div class="col-sm-9">
                            <input type="number" id="temp_max" name="temp_max" class="form-control"
                                placeholder="Example: 95" required><br>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="editEstado" class="col-sm-3 col-form-label form-label0">Pilon's state</label>
                        <div class="col-sm-9">
                            <input type="text" id="estado" name="estado" class="form-control" placeholder="Estado"
                                value="In process" readonly required><br>
                        </div>
                    </div>

                    <button id="createPilonButton" class="btn btn-primary" style="background: #266293ce; border: 0px;"
                        type="submit">Save new pilón</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- UPDATE MODAL -->
<div class="modal fade" id="editPilonModal" tabindex="-1" aria-labelledby="editPilonModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
        <div class="modal-content">
            <div class="modal-header" style="background: linear-gradient(to right, #5f1155, #6e1462, #9e1c8d);">
                <h5 class="modal-title" style="color: #ffffff;" id="editPilonModalLabel"><i
                        class="bi bi-pencil-square"></i>
                    Update pilón</h5>
            </div>
            <div class="modal-body">
                <form id="editPilonForm">
                    <input type="hidden" id="pilonId" name="pilonId">
                    <div class="row mb-3">
                        <label for="editNombre" class="col-sm-3 col-form-label form-label0">Pilon's name</label>
                        <div class="col-sm-9">
                            <input type="text" id="editNombre" name="editNombre" class="form-control" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="editFinca" class="col-sm-3 col-form-label form-label0">Farm source</label>
                        <div class="col-sm-9">
                            <input type="text" id="editFinca" name="editFinca" class="form-control" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="editVariedad" class="col-sm-3 col-form-label form-label0">Tobacco variety</label>
                        <div class="col-sm-9">
                            <input type="text" id="editVariedad" name="editVariedad" class="form-control" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="editEtapa" class="col-sm-3 col-form-label form-label0">Tobacco stage</label>
                        <div class="col-sm-9">
                            <input type="number" id="editEtapa" name="editEtapa" class="form-control"
                                placeholder="Etapa del tabaco" required><br>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="editPN" class="col-sm-3 col-form-label form-label0">Tobacco PN</label>
                        <div class="col-sm-9">
                            <input type="number" id="editPN" name="editPN" class="form-control"
                                placeholder="PN del tabaco" required step="0.01"><br>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="editTempMin" class="col-sm-3 col-form-label form-label0">Minimun accepted
                            temperature</label>
                        <div class="col-sm-9">
                            <input type="number" id="editTempMin" name="editTempMin" class="form-control" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="editTempMax" class="col-sm-3 col-form-label form-label0">Maximum accepted
                            temperature</label>
                        <div class="col-sm-9">
                            <input type="number" id="editTempMax" name="editTempMax" class="form-control" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="editEstado" class="col-sm-3 col-form-label form-label0">Estado del pilón</label>
                        <div class="col-sm-9">
                            <select id="editEstado" name="editEstado" required class="form-control">
                                <option value="En proceso">In process</option>
                                <option value="Finalizado">Finished</option>
                            </select>
                        </div>
                    </div>

                    <button id="updatePilonButton" class="btn btn-primary"
                        style="background-color:  #851376; border: 0px;" type="submit">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- DELETE MODAL -->
<div class="modal fade" id="deletePilonModal" tabindex="-1" aria-labelledby="deletePilonModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background: linear-gradient(to right, #7c0808f4, #a80c0ce3, #eb0303c0);">
                <h5 class="modal-title" style="color: #ffffff;" id="deletePilonModalLabel"><i class="bi bi-trash3"></i>
                    Delete</h5>
            </div>
            <div class="modal-body">
                <a><strong>Are you sure you want to remove this pilón?</strong>
                    <br>This action is irreversible and will delete everything related to this pilón and the
                    temperatures stored in it.
                    temperatures obtained from it.</a><br>
                <br><button id="deletePilonButton" class="btn btn-primary"
                    style="background-color: rgba(201, 0, 0, 0.753);  border: 0px;" type="button"
                    onclick="deletePilon()">Continue</button>
            </div>
        </div>
    </div>
</div>

<!-- SUCCESS MODAL -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background: rgba(44, 201, 44, 0.753); color: #ffffff;">
                <h5 class="modal-title" id="successModalLabel">Success</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>The pilón was created successfully.</p>
            </div>
        </div>
    </div>
</div>

<!-- ERROR MODAL -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background: rgba(201, 0, 0, 0.753); color: #ffffff;">
                <h5 class="modal-title" id="errorModalLabel">Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="errorModalMessage">The pilón could not be removed. Please try again later.</p>
            </div>
        </div>
    </div>
</div>