<!-- CREATION MODAL -->
<div class="modal fade" id="turningWettingModal" tabindex="-1" aria-labelledby="turningWettingModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
        <div class="modal-content">
            <div class="modal-header" style="background: linear-gradient(to right, #68451bf0, #b6772af0, #f3a240f0);">
                <h5 class="modal-title" style="color: #ffffff;" id="turningWettingModal"><i
                        class="bi bi-box-arrow-down"></i> Turning / Wetting Options</h5>
            </div>
            <div class="modal-body">
                <form id="turning_wetting_Form">
                    <div class="row mb-3">
                        <label for="turning_wetting" class="col-sm-3 col-form-label form-label0">Pilón needs a</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="turning_wetting" required>
                                <option value="Turning">Turning</option>
                                <option value="Wetting">Wetting</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="selected_pilon" class="col-sm-3 col-form-label form-label0">Selected pilón</label>
                        <div class="col-sm-9">
                            <input type="text" id="selected_pilon" readonly class="form-control" required><br>
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <label for="temperature" class="col-sm-3 col-form-label form-label0">Pilón's temperature</label>
                        <div class="col-sm-9">
                            <input type="text" id="temperature" readonly class="form-control" required><br>
                        </div>
                    </div>
                
                    <a class="btn btn-success" data-toggle="modal" data-target="#createArduinoModal"
                        style="background: #b6772af0; border: 0px;">Save</a>
                </form>
            </div>
        </div>
    </div>
</div>