<!-- Modal de éxito -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background: rgba(44, 201, 44, 0.753);">
                <h5 class="modal-title" style="color: #ffffff;" id="successModalLabel"><i class="bi bi-check-lg"></i>
                    Success</h5>
            </div>
            <div class="modal-body">
                Temperature was saved correctly.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de error -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background: rgba(201, 44, 44, 0.753);">
                <h5 class="modal-title" style="color: #ffffff;" id="errorModalLabel"><i class="bi bi-check-lg"></i>
                    Error</h5>
            </div>
            <div class="modal-body">
                An error occurred while saving the temperature. Please try again.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>