<div class="modal fade" id="Home" tabindex="-1" aria-labelledby="Home" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 45%;">
        <div class="modal-content">
            <div class="modal-header" style="background: linear-gradient(to right, #5f1155, #6e1462, #9e1c8d);">
                <h5 class="modal-title" style="color: #ffffff;" id="Home"><i
                        class="bi bi-pencil-square just"></i> Home view</h5>
            </div>
            <div class="modal-body">
                `psdmpskmdspoñkdmspñlkdmspkdms
            </div>
        </div>
    </div>
</div>