<!-- FILTERS MODAL -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 500px;">
        <div class="modal-content">
            <div class="modal-header" style="background: linear-gradient(to right, #3c1635, #822a72, #ca36af);">
                <h5 class="modal-title" style="color: #ffffff;"><i class="bi bi-funnel"></i>
                    Pilón filters options</h5>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="ordenarAZ">
                            <label class="form-check-label" for="ordenarAZ">Name A-Z</label>
                        </div><hr>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="ordenarZA">
                            <label class="form-check-label" for="ordenarZA">Name Z-A</label>
                        </div><hr>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="ordenarFincaAZ">
                            <label class="form-check-label" for="ordenarFincaAZ">Farm A-Z</label>
                        </div><hr>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="ordenarFincaZA">
                            <label class="form-check-label" for="ordenarFincaZA">Farm Z-A</label>
                        </div><hr>
                    </div>

                    <div class="col-6">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="ordenarVariedadAZ">
                            <label class="form-check-label" for="ordenarVariedadAZ">Variety A-Z</label>
                        </div><hr>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="ordenarVariedadZA">
                            <label class="form-check-label" for="ordenarVariedadZA">Variety Z-A</label>
                        </div><hr>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="ordenarPorTempMayor">
                            <label class="form-check-label" for="ordenarPorTempMayor">Temp > Temp. max</label>
                        </div><hr>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="ordenarPorTempMenor">
                            <label class="form-check-label" for="ordenarPorTempMenor">Temp < Temp. min</label>
                        </div><hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>