<div class="card-container">
    <div class="card">
        <div class="front-content">
            <p>Why?</p>
        </div>
        <div class="content">
            <p class="heading">Idea</p>
            <p>
                The main idea of this project was to start with the automation of processes in the company
                Diadema Zona Franca, Danlí. To be exact, this will automate the taking of temperatures and humidity in the pylon area of the company.
                pylon area of the company. Providing greater control in the flow of data that lies in such an important tobacco process.
                important tobacco process.
            </p>
        </div>
    </div>
</div>