<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Arduinos</title>
    <%- include('../partials//cdn_head/_cdn_head') %>
</head>

<body>
    <%- include('../partials/navbar/_navbar') %>
    <%- include('../partials/modals/_modal_arduinos') %>

    <main class="col-md-10 ms-sm-auto col-lg-12 px-md-4 mt-2">
        <div class="table-responsive small justify-content-sm-center">
            <table id="myTable" class="display table table-striped table-sm table-bordered">
                <thead class="table-success">
                    <tr>
                        <th scope="col">Arduino's name</th>
                        <th scope="col">DS18B20 Sensor</th>
                        <th scope="col">Connected to port</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody id="arduinosList">
                    <!-- Records will be added here dynamically -->
                </tbody>           
            </table>
        </div>
    </main>

    <!-- SCRIPTS -->
    <script src="/resources/js/_arduino_scripts.js"></script>
</body>
</html>