<nav class="navbar navbar-expand-lg p-3" style="background: linear-gradient(to right, #490c41, #901a80, #490c41);">
    <div class="container">
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/individual_arduino" id="individual_arduino">
                        Individual
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pilones_list" id="pilones_list">
                        Pilones
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/arduino_list" id="arduinos_list">
                        Arduinos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/temp_history" id="temp_history"></i>
                        Temperature history
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/hum_history" id="hum_history"></i>
                        Humidity history
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/graphics_history" id="graphics_history">
                        Graphics history</a>
                </li>
                <li>
                    <a class="nav-link" href="/FAQ" id="faq">
                        FAQs
                    </a>
                </li>

                <!-- If ? show some things -->
                <% if (currentUrl==='/pilones_list' ) { %>
                    <li class="nav-item">
                        <a>
                            <button type="button" class="nav-link px-2" style="color: #87e7ff;" data-bs-toggle="modal"
                                data-bs-target="#createPilonModal"><i class="bi bi-patch-plus"></i> Add new pilón
                            </button>
                        </a>
                    </li>
                    <% } %>

                        <% if (currentUrl==='/arduino_list' ) { %>
                            <li class="nav-item">
                                <a>
                                    <button type="button" class="nav-link px-2" style="color: #87ff8d;"
                                        data-bs-toggle="modal" data-bs-target="#createArduinoModal"><i
                                            class="bi bi-patch-plus"></i> Add new
                                        arduino</button>
                                </a>
                            </li>
                            <% } %>
            </ul>
        </div>
    </div>
</nav>

<!-- Scripts to disable context menu -->
<script>
    document.addEventListener('contextmenu', event => event.preventDefault());
</script>