#saveTemps,
#saveAllTemps {
    appearance: button;
    background-color: #490c41;
    border: solid transparent;
    border-radius: 20px;
    border-width: 0 0 6px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 20px;
    outline: none;
    overflow: visible;
    padding: 16px;
    text-align: center;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

#saveTemps:after,
#saveAllTemps:after {
    background-clip: padding-box;
    background-color: #ab1f98;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

#saveTemps:main,
#saveAllTemps:main,
#saveTemps:focus,
#saveAllTemps:focus {
    user-select: auto;
}

#saveTemps:hover:not(:disabled),
#saveAllTemps:hover:not(:disabled) {
    filter: brightness(1.1);
    transition: 600ms;
}

#saveTemps:disabled,
#saveAllTemps:disabled {
    cursor: auto;
}

#saveTemps:active:after,
#saveAllTemps:active:after {
    border-width: 0 0 0px;
}

#saveTemps:active,
#saveAllTemps:active {
    padding-bottom: 10px;
}

.options {
    padding: 12px;
    font-weight: bold;
    color: #000;
    box-shadow: #00000085 0px 4px;
    border-radius: 20px;
    display: none;
}

#saveTurningWettingButton {
    background-color: #da8e31f0;
    border-radius: 10px;
    border: none;
}