.info_footer {
    position: absolute;
    bottom: 0;
    min-width: 100%;
    height: auto;
    background-color: #e8e8e870;
}

.info_footer p {
    display: inline-block;
    margin-right: 15px;
    font-weight: bold;
    font-size: 15px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(8, 10%);
    grid-gap: 5.5em;
    margin-top: 2em;
    margin-left: 35px;
}

.card__content {
    text-align: left;
    font-size: 15px;
}

.card {
    margin-bottom: -4em;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #dbdbdb1c;
    border-radius: 5px;
    padding-top: 7px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 20px;
}

.pagination>a,
.pagination>span {
    color: #383838;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 0 2px 5px;
    min-width: 20px;
    padding: 0 10px;
    height: 40px;
    text-decoration: none;
    position: relative;
    border-radius: 5px;
    font-family: Helvetica, Arial, sans-serif;
}

.pagination>span {
    pointer-events: none;
}

.pagination svg {
    height: 24px;
    width: 24px;
}

.pagination>a.page-active {
    background: #a32492;
    color: #fff;
}

.pagination>a:hover {
    background: #c72bb2;
    color: #fff;
}