<!DOCTYPE html>
<html>

<head>
    <title>FAQS</title>
    <%- include('../partials/cdn_head/_cdn_head') %>
    <link rel="stylesheet" href="resources/css/_cards_faq.css">
</head>

<body>
    <%- include('../partials/navbar/_navbar') %>
   
    <div class="container">
        <%- include('../partials/faq/_cards_faq') %>
    </div>
</body>

</html>