<!DOCTYPE html>
<html>

<head>
	<title>Language</title>
	<%- include('../partials/cdn_head/_cdn_head') %>
    <link rel="stylesheet" href="resources/css/_language.css">
</head>

<body>
	<%- include('../partials/navbar/_navbar') %>
		<%- include('../partials/modals/_modal_faqs') %>

			<div class="card">
				<div id="error-page">
					<div class="content">
						<h2 class="header" data-text="Wait...">
                            Wait...
                        </h2>
                        
						<!-- 
                        <h4 data-text="Opps!">
                            Opps!
                        </h4>
                        -->

						<p>
							Sorry, this is a feature that has not yet been implemented by the developer, give him a little more time to get it done. <br><br> The idea of this feature is that you can completely switch the system from English to Spanish!

						</p>
						<div class="btns">
							<a href="/">return home</a>
						</div>
					</div>
				</div>
			</div>
</body>

</html>