<div class="card-container">
    <div class="card">
        <div class="container">
            <span class="temp tempbg">
                <img src="../../../../resources/images/temperatures.png">
            </span>
            <span class="temp">
                <img src="../../../../resources/images/temperatures.png">                
            </span>
        </div>

        <span class="display_temp"></span>

        <div class="temp-scale">
            <span>Celsius</span>
        </div>
    </div>

    <div class="card card2">
        <div class="container">
            <span class="hum humbg">
                <img src="../../../../resources/images/humidity.png">  
            </span>
            <span class="hum">
                <img src="../../../../resources/images/humidity.png">  
            </span>
        </div>

        <span class="display_hum"></span>

        <div class="temp-scale">
            <span>Relative</span>
        </div>
    </div>
</div>