<!-- SAVE DATA MODAL -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 800px;">
        <div class="modal-content">
            <div class="modal-header" style="background: linear-gradient(to right, #1a4467f0, #266293ce, #3a96e2c0);">
                <h5 class="modal-title" style="color: #ffffff;" id="exampleModalLongTitle">Choose a pilón to save
                    temperature:</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group searchInput">
                        <input type="text" id="searchInput" class="form-control"
                            placeholder="Search a especific pilón in database">
                    </div><br>
                    <div class="form-group">
                        <div class="checkbox-list" id="pilonCheckboxList">
                            <!-- Pilones checkboxes will be generated here dynamically -->
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <p>
                    <button id="createPilonButton" class="btn btn-primary"
                        style="background: #266293ce; border: 0px; border-radius: 15px;" type="submit">Save temperature
                        and humidity </button>
                </p>
            </div>
        </div>
    </div>
</div>

<script>

</script>