<div class="container mt-4">
    <div class="dropdown mt-4">
        <div class="select">
            <span>Choose a pilon to save temperature</span>
            <i class="fa fa-chevron-left"></i>
        </div>
        <input type="hidden" name="gender">
        <ul class="dropdown-menu">
            <li id="Pilon 01">Pilon 01</li>
            <li id="Pilon 02">Pilon 02</li>
            <li id="Pilon 03">Pilon 03</li>
            <li id="Pilon 04">Pilon 04</li> 
        </ul>
    </div>

    <span class="msg"></span>
</div>

<script>
    /*Dropdown Menu*/
    $('.dropdown').click(function () {
        $(this).attr('tabindex', 1).focus();
        $(this).toggleClass('active');
        $(this).find('.dropdown-menu').slideToggle(300);
    });
    $('.dropdown').focusout(function () {
        $(this).removeClass('active');
        $(this).find('.dropdown-menu').slideUp(300);
    });
    $('.dropdown .dropdown-menu li').click(function () {
        $(this).parents('.dropdown').find('span').text($(this).text());
        $(this).parents('.dropdown').find('input').attr('value', $(this).attr('id'));
    });
    /*End Dropdown Menu*/


    $('.dropdown-menu li').click(function () {
        var input = '<strong>' + $(this).parents('.dropdown').find('input').val() + '</strong>',
            msg = '<span class="msg">You"ll save temperature to: ';
        $('.msg').html(msg + input + '</span>');
    });
</script>