<!-- SAVE DATA MODAL -->
<div class="modal fade" id="pilonList" tabindex="-1" role="dialog" aria-labelledby="pilonListLabel">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 50%;">
        <div class="modal-content">
            <div class="modal-header" style="background: linear-gradient(to right, #1a4467f0, #266293ce, #3a96e2c0);">
                <h5 class="modal-title" style="color: #ffffff;" id="exampleModalLongTitle"><i class="bi bi-cursor"></i>
                    Choose a pilón to save
                    temperature:</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group searchInput">
                        <input type="text" id="searchInput" class="form-control"
                            placeholder="Search a especific pilón in database">
                    </div><br>
                    <div class="form-group">
                        <div class="checkbox-list" id="pilonCheckboxList" data-bs-dismiss="modal">
                            <!-- Pilones checkboxes will be generated here dynamically -->
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <p data-bs-dismiss="modal"
                    style="background-color: #d34646d1; padding: 5px; border-radius: 10px; color: white;">Close</p>
            </div>
        </div>
    </div>
</div>
</div>