<span class="box">
    You are using the option to take the temperature of the pilones individually. Remember to always have enough
    charge in your Arduino, contact the ICT department if you experience any problem with your equipment.
</span>