<div class="container">
    <div class="pilon_info">
        <p>Pilón's name: </p>
        <p>Pilón's propierty: </p>
        <p>Pilón's tobacco stage: </p>
        <p>Pilón's net weight: </p>
        <p>Pilón's minimum allowed temperature: </p>
        <p>Pilón's maximum allowed temperature: </p>
        <p>Pilón's entry date: </p>
    </div>
</div>

<a id="save_Temp_Hum" class="btn btn-primary"
style="background: #2eaf29ce; border: 0px; border-radius: 15px; margin-top: 25%; font-size: 22px; font-weight: bold;" type="submit">Save data</a>